.border-c{
    border-color: #f9f1e4;
    border-width: 2px;
    border-style:solid;
    background-color: antiquewhite;
    color:f9f1e4;
}
.container-fluid
{
    padding: 0!important
}
.text-header{
    background-color:#880015;
    color:#fff6f1;
}
