<app-sr-nav></app-sr-nav>
<div class="container">
    <form (ngSubmit)="OnAddBlog(f)" #f="ngForm">
        <div class="form-group">
          <label for="Title">Title</label>
          <input type="text"
          name="Title"
          ngModel
           class="form-control" id="Title" aria-describedby="Title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text"
            name="Description"
            ngModel
             class="form-control" id="Description" aria-describedby="Description" placeholder="Enter Description">
          </div>
          <div class="form-group">
              <label for="Author">Author</label>
              <input type="text"
              name="Author"
              ngModel
               class="form-control" id="Author" aria-describedby="Author" placeholder="Enter Author">
            </div>
        
        <button type="submit" class="btn btn-primary"(click)="OnBlockSubmit()">Save</button>
      </form>




</div>



