<app-sr-nav></app-sr-nav>
<div class="container">
  <div class="row">
    <div class="col-md-9">
    <form (ngSubmit)="OnArticleSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="Picture">Picture</label>
          <input type="file"
          (change)="onChange($event)"
           class="form-control" id="Picture" name="Picture" aria-describedby="Picture">
        </div>
        <div class="form-group">
            
         <label for="Title">Title</label>
         <input type="text" class="form-control" id="Title" name="Title" aria-describedby="title" placeholder="Enter Title"
         ngModel >
               
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" name="Description" aria-describedby="description" placeholder="Enter Description"
            ngModel >            
          </div>
          <div class="form-group">
              <label for="Alt">Alt</label>
              <input type="text" class="form-control" 
              id="Alt" name="Alt" aria-describedby="alt" 
              placeholder="Enter Alt"
              ngModel >              
            </div>


          <div class="form-group">
              <label for="Category">Link(if external Link)</label>
              <input type="text" class="form-control" 
              id="Link" name="Link" aria-describedby="alt" 
              placeholder="Enter Link"
              ngModel >              
            </div>


          <div class="form-group">
              <label for="Category">Category(horoscope)</label>
              <input type="text" class="form-control" 
              id="Category" name="Category" aria-describedby="alt" 
              placeholder="Enter Category"
              ngModel >              
            </div>


          <div class="form-group">
              <label for="LinkedToBlog">Linked Blog(if any)</label>
              <input type="number" class="form-control" 
              id="LinkedToBlog" name="LinkedToBlog" aria-describedby="alt" 
              placeholder="Enter Blog Number"
              ngModel >              
            </div>



       <button type="submit" class="btn btn-primary">Save</button>
       <button type="submit" class="btn btn-primary" [routerLink]="['../']" >Cancel</button>
      </form>


    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="img_chania.jpg" alt="Chania">
    </div>
  </div>
</div>




